{
  "tabWidth": 4,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "@trivago/prettier-plugin-sort-imports"
  ]
}